<a href="https://colab.research.google.com/github/TomasValadao/MachineLearning-PUC-Rio/blob/main/machine_learning_mvp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MVP: Machine Learning & Analytics
## Tomás Cavalcante Valadão

# 1. Definição do Problema

O dataset escolhido para a realização deste trabalho é composto por dados de alguns clientes de uma instituição financeira, que se encontram anonimizados. Dentro desse dataset, podemos encontrar algumas informações relacionadas à quantidade de produtos que um cliente possui, se ele tem crédito com a instituição e se ele deixou de ser cliente.

O objetivo deste trabalho é analisar o comportamento de uma base de clientes em relação aos produtos utilizados e verificar se existe alguma relação que possa determinar se uma quantidade menor de produtos tende a influenciar na permanência do cliente na instituição, considerando seu comportamento em relação à utilização dos produtos ofertados. Para analisar esse comportamento e criar uma regra capaz de prever se futuros clientes tendem a sair da instituição, esse problema foi modelado como um problema de classificação.

Os dados utilizados nesse relatório podem ser encontrados na plataforma [Kaggle](https://www.kaggle.com/datasets/shubhammeshram579/bank-customer-churn-prediction).

Neste trabalho, utilizamos um dataset chamado "Churn Modelling", que contém dados de alguns clientes da instituição, os produtos contratados e informações sobre se o indivíduo continua sendo cliente ou não.


Dataset Churn Modelling:
1. Row Number = Índice do registro
2. Customer ID = Identificador único do cliente
3. Surname = Sobrenome do cliente
4. Credit Score = Nota de crédito do cliente
5. Geography = País de origem do cliente (Espanha, França ou Alemanha)
6. Gender = Gênero do cliente
7. Age = Idade do cliente
8. Tenure = Tempo (em anos) que o cliente ficou na instituição
9. Balance = Balanço da conta corrente do cliente
10. Number of Products = Número de produtos contratados pelo cliente
11. Has Credit Card = O cliente tem cartão de crédito?
12. Is Active Member = Cliente ativo?
13. Estimated Salary = Salário estimado do cliente
14. Exited = O cliente saiu da instituição?

In [1]:
# importando as bibliotecas
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from plotnine import ggplot, aes, geom_line, geom_point, xlim, ylim, geom_jitter, geom_abline, theme_set, theme_bw, geom_histogram, geom_bar, ylab
from itertools import zip_longest
import ast

# 2. Preparação de Dados

In [3]:
# Trazendo os dados dos títulos para o notebook

path_titles = "https://raw.githubusercontent.com/TomasValadao/MachineLearning-PUC-Rio/refs/heads/main/Churn_Modelling.csv"

df_churn = pd.read_csv(path_titles)
df_churn.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44.0,8,113755.78,2,1.0,0.0,149756.71,1
6,7,15592531,Bartlett,822,NaN,Male,50.0,7,0.00,2,1.0,1.0,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29.0,4,115046.74,4,1.0,0.0,119346.88,1
8,9,15792365,He,501,France,Male,44.0,4,142051.07,2,0.0,NaN,74940.50,0
9,10,15592389,H?,684,France,Male,NaN,2,134603.88,1,1.0,1.0,71725.73,0

#3. Modelagem e treinamento

#4. Avaliação de Resultados